
name: Export Firebase to JSON

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Fetch Firebase Matches
        run: |
          curl -s https://sportix-webs-default-rtdb.firebaseio.com/matches.json > matches_raw.json

      - name: Create Pretty data.json
        run: |
          jq '{matches: .}' matches_raw.json > data.json

      - name: Commit and Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data.json
          git commit -m "Auto update formatted data.json from Firebase" || echo "No changes"
          git push
